*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background: #334155;
    color: #fff;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    /* overflow: auto; */
    /* padding: 0 20px; */
}

.logo{
    font-size: 1.65rem;

    &:hover{
        color: #e2e8f0;
    }
}

.navLinks{
    display: flex;
    list-style: none;
}


.link {
    /* box-sizing: border-box; */
    color: #fff;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 0.25rem 0.25rem 0 0;
    transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
    box-shadow: 0px -0.2rem 0px 0px transparent inset;
    /* border-bottom:  0.2rem inset transparent; */

    &:hover {
        color: #fff;
        background-color: #475569;
        box-shadow: 0px -0.2rem 0px 0px #fff inset;
    }
}
.active {
    box-shadow: 0px -0.2rem 0px 0px #fff inset;
    background-color: #475569;
}